<app-header nombre="MANTENIMIENTO DE EMPRESAS" icono="city"></app-header>

<br><br>
<mat-tab-group [selectedIndex]="tabSelected">
	<mat-tab label="DETALLE DE LA EMPRESA: {{ form.razon_social }}">
		<div class="row data-crud">
			<div class="col-7">
				<div class="widget clearfix">
					<div class="whead clearfix">
						<div class="row">
							<div class="col-6 border text-center">
								<p>Campo</p>
							</div>
							<div class="col-6 border text-center">
								<p>Dato</p>
							</div>
						</div>
					</div>
					<div class="row auditoria">
						<div class="col-6 border px-0">
							<div class="col-12 border-bottom py-3">
								Id
							</div>
							<div class="col-12 border-bottom py-3">
								Nro de Ruc
							</div>
							<div class="col-12 border-bottom py-3">
								Razón Social
							</div>
							<div class="col-12 border-bottom py-3">
								Página Web
							</div>
							<div class="col-12 border-bottom py-3">
								Dirección
							</div>
							<div class="col-12 border-bottom py-3">
								Ubigeo
							</div>
							<div class="col-12 border-bottom py-3">
								Teléfono Fijo
							</div>
							<div class="col-12 border-bottom py-3">
								Nro de Celular
							</div>
							<div class="col-12 border-bottom py-3">
								Nombre de Contacto 1
							</div>
							<div class="col-12 border-bottom py-3">
								Teléfono Fijo 1
							</div>
							<div class="col-12 border-bottom py-3">
								Nro de Celular 1
							</div>
							<div class="col-12 border-bottom py-3">
								Email de Contacto 1
							</div>
							<div class="col-12 border-bottom py-3">
								Nombre de Contacto 2
							</div>
							<div class="col-12 border-bottom py-3">
								Teléfono Fijo 2
							</div>
							<div class="col-12 border-bottom py-3">
								Nro de Celular 2
							</div>
							<div class="col-12 border-bottom py-3">
								Email de Contacto 2
							</div>
							<div class="col-12 border-bottom py-3">
								Nombre de Banco
							</div>
							<div class="col-12 border-bottom py-3">
								Nro de Cuenta
							</div>
							<div class="col-12 border-bottom py-3">
								Nro de Cuenta Interbancaria
							</div>
							<div class="col-12 border-bottom py-3">
								Observaciones 
							</div>
							<div class="col-12 py-3">
								Estado
							</div>
						</div>
						<div class="col-6 border px-0">
							<div class="col-12 border-bottom py-3">
								{{form.id}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nro_ruc}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.razon_social}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.pag_web}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.direccion}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.ubigeo_id}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.telf_fijo}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nro_celular}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nombre_contacto1}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.telf_fijo1}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nro_celular1}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.email_contacto1}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nombre_contacto2}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.telf_fijo2}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nro_celular2}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.email_contacto2}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nombre_banco}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nro_cta}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.nro_cta_interbancaria}}
							</div>
							<div class="col-12 border-bottom py-3">
								{{form.observaciones}}
							</div>
							<div class="col-12 py-3 h-20">
								{{form.estado}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-5 p-0 widget clearfix">
				<app-auditoria [form]="form"></app-auditoria>
			</div>
		</div>
		<div class="row mt-3">
			<button class="btn btn-info" [routerLink]="['/empresas/']">REGRESAR A LA LISTA</button>
			<button class="btn btn-danger ml-5" (click)="eliminar(this.form.id)">ELIMINAR</button>
		</div>
	</mat-tab>
	<mat-tab label="SEDES">
		<app-sucursal [id]="id"></app-sucursal>
		<div class="row mt-3">
			<button class="btn btn-info" [routerLink]="['/empresas/']">REGRESAR A LA LISTA</button>
		</div>
	</mat-tab>
</mat-tab-group>