<div *ngIf="encuesta_id;else other_content">
	<app-header nombre="PROGRAMACIÓN DE ENCUESTAS" icono="edit"></app-header>
</div>

<ng-template #other_content>
	<app-header nombre="MANTENIMIENTO DE ANÁLISIS" icono="user-friends"></app-header>
</ng-template>

<div class="widget clearfix mt-5">
	<div class="whead clearfix">
		<p><span *ngIf="id;else templateName">EDITAR </span>ANÁLISIS <span *ngIf="id">: {{ form.nro_analisis }}
				{{ form.descripcion }} {{ form.fecha_hora_creacion }}</span></p>
		<ng-template #templateName>
			CREAR
		</ng-template>
	</div>
	<div class="row data-crud">
		<div class="col-12">
			<form (ngSubmit)="guardar()" class="px-4" ngNativeValidate>
				<div class="row">
					<div class="col-6">	
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Nro Análisis <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="number" name="nroanalisis" class="form-control" [(ngModel)]="form.nro_analisis"
									required/>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Descripción <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="desc" class="form-control" [(ngModel)]="form.descripcion" required>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Precio Unitario <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="number" name="punit" class="form-control" [(ngModel)]="form.p_unitario"
									required/>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Observaciones</label>
							<div class="col-sm-8">
								<input type="text" name="obs" class="form-control" [(ngModel)]="form.observaciones">
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Fecha y Hora de Creación</label>
							<div class="col-sm-8">
								<input type="text" name="fechahorcre" class="form-control" [(ngModel)]="form.fecha_hora_creacion">
							</div>
							<hr>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-12">
						<button type="submit" class="btn btn-success">GUARDAR</button>
						<a (click)="return()" class="btn btn-info text-white">REGRESAR A LA LISTA</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-5 p-0 widget clearfix" *ngIf="id">
			<app-auditoria [form]="form"></app-auditoria>
		</div>
	</div>
</div>