<div *ngIf="encuesta_id;else other_content">
	<app-header nombre="PROGRAMACIÓN DE ENCUESTAS" icono="edit"></app-header>
</div>

<ng-template #other_content>
	<app-header nombre="MANTENIMIENTO DE ORDEN DE ATENCIÓN" icono="file-medical"></app-header>
</ng-template>

<div class="widget clearfix mt-5">
	<div class="whead clearfix">
		<p>DETALLE DE LA ORDEN DE ATENCIÓN: {{ form.nro_atencion }} {{ form.fecha_atencion }} {{ form.hora_atencion }}</p>
	</div>
	<div class="row data-crud">
		<div class="col-7">
			<div class="widget clearfix">
				<div class="whead clearfix">
					<div class="row">
						<div class="col-6 border text-center">
							<p>Campo</p>
						</div>
						<div class="col-6 border text-center">
							<p>Dato</p>
						</div>
					</div>
				</div>
				<div class="row auditoria">
					<div class="col-6 border px-0">
						<div class="col-12 border-bottom py-3">
							Id
						</div>
						<div class="col-12 border-bottom py-3">
							Nro Atención
						</div>
						<div class="col-12 border-bottom py-3">
							Fecha de Atención
						</div>
						<div class="col-12 border-bottom py-3">
							Hora de Atención
						</div>
						<div class="col-12 border-bottom py-3">
							Paciente
						</div>
						<div class="col-12 border-bottom py-3">
							Analisis
						</div>
						<div class="col-12 border-bottom py-3">
							Estado
						</div>
					</div>
					<div class="col-6 border px-0">
						<div class="col-12 border-bottom py-3">
							{{form.id}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.nro_atencion}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.fecha_atencion}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.hora_atencion}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.paciente}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.analisis}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.estado}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5 p-0 widget clearfix">
			<app-auditoria [form]="form"></app-auditoria>
		</div>
	</div>
</div>
<div class="row mt-3">
	<button class="btn btn-info text-white" (click)="return()">REGRESAR A LA LISTA</button>
	<button class="btn btn-danger ml-5" (click)="eliminar(this.form.id)">ELIMINAR</button>
</div>