<div *ngIf="encuesta_id;else other_content">
	<app-header nombre="PROGRAMACIÓN DE ENCUESTAS" icono="edit"></app-header>
</div>

<ng-template #other_content>
	<app-header nombre="MANTENIMIENTO DE UBIGEO" icono="flask"></app-header>
</ng-template>

<div class="widget clearfix mt-5">
	<div class="whead clearfix">
		<p><span *ngIf="id;else templateName">EDITAR </span>UBIGEO <span *ngIf="id">: {{ form.ubigeo }}
				{{ form.distrito }} {{ form.provincia }} {{ form.departamento }}</span></p>
		<ng-template #templateName>
			CREAR
		</ng-template>
	</div>
	<div class="row data-crud">
		<div class="col-12">
			<form (ngSubmit)="guardar()" class="px-4" ngNativeValidate>
				<div class="row">
					<div class="col-6">	
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Ubigeo <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="ubigeo" class="form-control" [(ngModel)]="form.ubigeo"
									required/>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Distrito <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="dist" class="form-control" [(ngModel)]="form.distrito" required>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Provincia <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="prov" class="form-control" [(ngModel)]="form.provincia"
									required/>
							</div>
							<hr>
                        </div>
                        
                        <div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Departamento <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="depart" class="form-control" [(ngModel)]="form.departamento"
									required/>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Estado <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<select name="dep" id="" class="form-control" [(ngModel)]="form.departamento" required>
									<option *ngFor="let ubigeos of ubigeo"> {{ ubigeo.departamento }} </option>
								</select>
							</div>
							<hr>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-12">
						<button type="submit" class="btn btn-success">GUARDAR</button>
						<a (click)="return()" class="btn btn-info text-white">REGRESAR A LA LISTA</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-5 p-0 widget clearfix" *ngIf="id">
			<app-auditoria [form]="form"></app-auditoria>
		</div>
	</div>
</div>