<app-header nombre="MANTENIMIENTO DE EMPRESAS" icono="city"></app-header>

<br><br>

<mat-horizontal-stepper linear #stepper>
	<mat-step completed="false">
		<ng-template matStepLabel>{{ titulo }} <span *ngIf="id">: {{ form.razon_social }}</span></ng-template>
		<div class="row data-crud">
			<div class="col-12">
				<form (ngSubmit)="guardar()" class="px-4" ngNativeValidate>
					<div class="row">
						<div class="col-6">
							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nro de Ruc <span
										class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="nroruc" class="form-control" [(ngModel)]="form.nro_ruc"
										required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Razón Social <span
										class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="razonsocial" class="form-control" [(ngModel)]="form.razon_social"
										required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Página Web <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="pagweb" class="form-control" [(ngModel)]="form.pag_web" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Latitud</label>
								<div class="col-sm-8">
									<input type="text" name="latitud" class="form-control" [(ngModel)]="form.latitud">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Longitud</label>
								<div class="col-sm-8">
									<input type="text" name="longitud" class="form-control" [(ngModel)]="form.longitud">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Dirección <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="direccion" class="form-control" [(ngModel)]="form.direccion" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Departamento <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<!--<select name="depart" id="" class="form-control" [(ngModel)]="form.departamento" required>
										<option *ngFor="let departamento of ubigeo"> {{ departamento }} </option>
									</select>-->
									<input type="text" name="departs" class="form-control" [(ngModel)]="form.departamento" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Provincia <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="prov" class="form-control" [(ngModel)]="form.provincia" required>
								</div>
								<hr>
							</div>
							
							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Distrito <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="dist" class="form-control" [(ngModel)]="form.distrito" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Teléfono Fijo <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="number" name="telf" class="form-control" [(ngModel)]="form.telf_fijo" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nro de Celular <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="number" name="nrocel" class="form-control" [(ngModel)]="form.nro_celular" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nombre de Contacto 1 <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="nomcont1" class="form-control" [(ngModel)]="form.nombre_contacto1" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Telefono Fijo 1 <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="number" name="telf1" class="form-control" [(ngModel)]="form.telf_fijo1" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nro de Celular 1 <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="number" name="nrocel1" class="form-control" [(ngModel)]="form.nro_celular1" required>
								</div>
								<hr>
							</div>
						</div>

						<div class="col-6">
							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Correo de Contacto 1 <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="email" name="emailcont1" class="form-control" [(ngModel)]="form.email_contacto1" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nombre de Contacto 2</label>
								<div class="col-sm-8">
									<input type="text" name="nomcont2" class="form-control" [(ngModel)]="form.nombre_contacto2">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Teléfono Fijo 2</label>
								<div class="col-sm-8">
									<input type="number" name="telf2" class="form-control" [(ngModel)]="form.telf_fijo2">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nro de Celular 2</label>
								<div class="col-sm-8">
									<input type="number" name="nrocel2" class="form-control" [(ngModel)]="form.nro_celular2">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Correo de Contacto 2</label>
								<div class="col-sm-8">
									<input type="email" name="emailcont2" class="form-control" [(ngModel)]="form.email_contacto2">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nombre de Banco  <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="nombanco" class="form-control" [(ngModel)]="form.nombre_banco" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nro de Cuenta  <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="nrocta" class="form-control" [(ngModel)]="form.nro_cta" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Nro de Cuenta Interbancaria  <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<input type="text" name="nroctainter" class="form-control" [(ngModel)]="form.nro_cta_interbancaria" required>
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Observaciones 1</label>
								<div class="col-sm-8">
									<input type="text" name="obs1" class="form-control" [(ngModel)]="form.observaciones1">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Observaciones 2</label>
								<div class="col-sm-8">
									<input type="text" name="obs2" class="form-control" [(ngModel)]="form.observaciones2">
								</div>
								<hr>
							</div>

							<div class="form-group row my-3">
								<label class="col-sm-4 col-form-label w-100">Estado <span
									class="text-danger">*</span></label>
								<div class="col-sm-8">
									<select name="estado" id="" class="form-control" [(ngModel)]="form.estado" required>
										<option [ngValue]="null" [disabled]="true" >Elige una opción</option>
										<option value="0">INACTIVO</option>
										<option value="1">ACTIVO</option>
									</select>
								</div>
								<hr>
							</div>

							<div class="form-group row mt-5">
								<div class="col-12">
									<button type="submit" class="btn btn-success">GUARDAR</button>
									<a routerLink="/empresas" class="btn btn-info">REGRESAR A LA LISTA</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-5" *ngIf="id==null">
				<div class="form-check my-3">
					<input type="checkbox" [(ngModel)]="generarSucursal" [ngModelOptions]="{standalone: true}">
					<label class="form-check-label" for="exampleCheck1">Sedes</label>
				</div>
			</div>
			<div class="col-5 p-0 widget clearfix" *ngIf="id">
				<app-auditoria [form]="form"></app-auditoria>
			</div>
		</div>
	</mat-step>
	<mat-step [stepControl]="secondFormGroup">
		<ng-template matStepLabel>SEDES</ng-template>
		<app-sucursal [id]="id"></app-sucursal>
		<div class="form-group row mt-3">
			<div class="col-12">
				<a routerLink="/empresas" class="btn btn-info">REGRESAR A LA LISTA</a>
			</div>
		</div>
	</mat-step>
</mat-horizontal-stepper>