.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: red;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}