.mat-card {
	display: flex;
	align-items: center;
}

.contenedor {
	width: 20%;
	margin-bottom: 2em;
	height: 30em;
}

.contador{
	margin: 0 auto;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}

.example-list {
	border: solid 1px #ccc;
	min-height: 60px;
	background: white;
	border-radius: 4px;
	overflow: hidden;
	display: block;
}

.cont-button button:hover{
	color: red;
	background: white;
	float: right;
}

.example-box {

}

.example-container {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}

.results {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.talents {
	width: 32%;
	background: #cccccc;
	text-align: center;
}

.cont-button {
	width: 100%;
	padding-bottom: 1em;
	display: flex;
	justify-content: center;
}

.cont-button button{
	color: white;
	background: red;
	float: right;
}

h4 {
	color: white;
	background-color: red;
}

.red {
	color: red;
	font-size: 24px;
}

hr{
	color: red;
	border-bottom-color: red;
	border: 1px red solid;
}

.items {
	width: 80%;
	margin: auto;
	font-size: 17px;
}

