<div *ngIf="encuesta_id;else other_content">
	<app-header nombre="PROGRAMACIÓN DE ENCUESTAS" icono="edit"></app-header>
</div>

<ng-template #other_content>
	<app-header nombre="MANTENIMIENTO DE ORDEN DE ATENCIÓN DE ANÁLISIS" icono="file-medical"></app-header>
</ng-template>

<div class="widget clearfix mt-5">
	<div class="whead clearfix">
		<p>DETALLE DE LA ORDEN DE ATENCIÓN DE ANÁLISIS: {{ form.analisis }} {{ form.muestras }} {{ form.created_at }}</p>
	</div>
	<div class="row data-crud">
		<div class="col-7">
			<div class="widget clearfix">
				<div class="whead clearfix">
					<div class="row">
						<div class="col-6 border text-center">
							<p>Campo</p>
						</div>
						<div class="col-6 border text-center">
							<p>Dato</p>
						</div>
					</div>
				</div>
				<div class="row auditoria">
					<div class="col-6 border px-0">
						<div class="col-12 border-bottom py-3">
							Id
						</div>
						<div class="col-12 border-bottom py-3">
							Análisis
						</div>
						<div class="col-12 border-bottom py-3">
							Muestras
						</div>
						<div class="col-12 border-bottom py-3">
							Fecha y Hora de Atención
						</div>
						<div class="col-12 border-bottom py-3">
							Forma de Pago
						</div>
						<div class="col-12 border-bottom py-3">
							Factura o Boleta
                        </div>
                        <div class="col-12 border-bottom py-3">
							Estado de Análisis
						</div>
						<div class="col-12 border-bottom py-3">
							Estado
						</div>
					</div>
					<div class="col-6 border px-0">
						<div class="col-12 border-bottom py-3">
							{{form.id}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.analisis}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.muestras}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.created_at | date: 'dd/MM/yyyy hh:mm:ss a'}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.forma_pago}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.factura_boleta}}
                        </div>
                        <div class="col-12 border-bottom py-3">
							{{form.estado_analisis}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.estado}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5 p-0 widget clearfix">
			<app-auditoria [form]="form"></app-auditoria>
		</div>
	</div>
</div>
<div class="row mt-3">
	<button class="btn btn-info text-white" (click)="return()">REGRESAR A LA LISTA</button>
	<button class="btn btn-danger ml-5" (click)="eliminar(this.form.id)">ELIMINAR</button>
</div>