<div *ngIf="encuesta_id;else other_content">
	<app-header nombre="PROGRAMACIÓN DE ENCUESTAS" icono="edit"></app-header>
</div>

<ng-template #other_content>
	<app-header nombre="MANTENIMIENTO DE PACIENTES" icono="users"></app-header>
</ng-template>

<div class="widget clearfix mt-5">
	<div class="whead clearfix">
		<p>DETALLE DE LA PACIENTE: {{ form.nombres }} {{ form.apellido_paterno }} {{ form.apellido_materno }}</p>
	</div>
	<div class="row data-crud">
		<div class="col-7">
			<div class="widget clearfix">
				<div class="whead clearfix">
					<div class="row">
						<div class="col-6 border text-center">
							<p>Campo</p>
						</div>
						<div class="col-6 border text-center">
							<p>Dato</p>
						</div>
					</div>
				</div>
				<div class="row auditoria">
					<div class="col-6 border px-0">
						<div class="col-12 border-bottom py-3">
							Id
						</div>
						<div class="col-12 border-bottom py-3">
							Apellido Paterno
						</div>
						<div class="col-12 border-bottom py-3">
							Apellido Materno
						</div>
						<div class="col-12 border-bottom py-3">
							Nombres
						</div>
						<div class="col-12 border-bottom py-3">
							Fecha de Nacimiento
						</div>
						<div class="col-12 border-bottom py-3">
							Edad
						</div>
						<div class="col-12 border-bottom py-3">
							Sexo
						</div>
						<div class="col-12 border-bottom py-3">
							Nro de Celular
						</div>
						<div class="col-12 py-3" *ngIf="encuesta_id==null">
							Email
						</div>
						<div class="col-12 border-bottom py-3">
							Grupo Sanguíneo
						</div>
						<div class="col-12 border-bottom py-3">
							Dirección
						</div>
						<div class="col-12 border-bottom py-3">
							Latitud
						</div>
						<div class="col-12 border-bottom py-3">
							Longitud
						</div>
						<div class="col-12 border-bottom py-3">
							Departamento
						</div>
						<div class="col-12 border-bottom py-3">
							Provincia
						</div>
						<div class="col-12 border-bottom py-3">
							Referencias
						</div>
						<div class="col-12 border-bottom py-3">
							Tipo de Paciente
						</div>
						<div class="col-12 border-bottom py-3">
							Observaciones 1
						</div>
						<div class="col-12 border-bottom py-3">
							Observaciones 2
						</div>
						<div class="col-12 border-bottom py-3">
							Estado
						</div>
					</div>
					<div class="col-6 border px-0">
						<div class="col-12 border-bottom py-3">
							{{form.id}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.apellido_paterno}}
						</div>
						<div class="col-12 border-bottom py-3 h-17">
							{{form.apellido_materno}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.nombres}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.fecha_nacimiento}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.edad}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.sexo}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.nro_celular}}
						</div>
						<div class="col-12 py-3 h-20" *ngIf="encuesta_id==null">
							{{form.email}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.grupo_sanguineo}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.direccion}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.latitud}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.longitud}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.departamento}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.provincia}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.referencias}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.tipo_paciente}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.observaciones1}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.observaciones2}}
						</div>
						<div class="col-12 border-bottom py-3">
							{{form.estado}}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-5 p-0 widget clearfix">
			<app-auditoria [form]="form"></app-auditoria>
		</div>
	</div>
</div>
<div class="row mt-3">
	<button class="btn btn-info text-white" (click)="return()">REGRESAR A LA LISTA</button>
	<button class="btn btn-danger ml-5" (click)="eliminar(this.form.id)">ELIMINAR</button>
</div>