.example-spacer {
	flex: 2 1 auto;
}

.menu-icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.mat-toolbar.mat-accent {
	background: rgb(96, 125, 139);
    color: white;
}
