<div class="px-5">
	<br>
	<div class="row">
		<fa-icon [icon]="['fas', 'poll']"></fa-icon><h5>PROGRAMACIÓN DE ENCUESTAS  <span *ngIf="id" >: {{ id }} </span></h5>
	</div>

	<div class="widget clearfix mt-5">
	  <div class="whead clearfix">
		<p><span *ngIf="id;else templateName" >EDITAR </span>ENCUESTA <span *ngIf="id;else templateName" >PROGRAMADA </span></p>
		<ng-template #templateName>
			PROGRAMAR
		</ng-template>
	  </div>
	  <div class="row">
		<div class="col-7">
		  <form (ngSubmit)="guardar()" class="px-4" ngNativeValidate>
			<div class="form-group row my-3">
			  <label class="col-sm-4 col-form-label w-100">Tipo de Encuesta <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<select name="tipo" class="form-control" [(ngModel)]="form.tipo_encuesta_id" required>
						<option value="0">Todas</option>
						<option [value]="item.id" *ngFor="let item of tipos">{{item.nombre}}</option>
					</select>
				</div>
			  <hr>
			</div>

			<div class="form-group row my-3">
			  <label class="col-sm-4 col-form-label w-100">Empresa <span class="text-danger">*</span></label>
			  <div class="col-sm-8">
				<mat-form-field class="example-full-width">
					<input type="text" [(ngModel)]="empresa" matInput name="empresa" class="form-control" [formControl]="myControl" [matAutocomplete]="auto" required>
					<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
					<mat-option *ngFor="let option of filteredEmpresas | async" [value]="option">
						{{option.nombre}}
					</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			  </div>
			  <hr>
			</div>

			<div class="form-group row my-3">
			  <label class="col-sm-4 col-form-label w-100">Fecha de Inicio <span class="text-danger">*</span></label>
			  <div class="col-sm-8">
				<input type="date" name="fecha_inicio" class="form-control" [(ngModel)]="form.fecha_inicio" required (change)="obtenerFechaFin()">
			  </div>
			  <hr>
			</div>

			<div class="form-group row my-3">
				<label class="col-sm-4 col-form-label w-100">Fecha de Inicio <span class="text-danger">*</span></label>
				<div class="col-sm-8">
					<input type="date" name="fecha_fin" class="form-control" [(ngModel)]="form.fecha_fin" required>
				</div>
				<hr>
			</div>

			<div class="form-group row">
			  <div class="col-12">
				<button type="submit" class="btn btn-danger">GUARDAR</button>
				<a routerLink="/encuestas" class="btn btn-info">REGRESAR A LA LISTA</a>
			  </div>
			</div>
		  </form>
		</div>
		<div class="col-5 p-0 widget clearfix mt-4" *ngIf="id" >
		  <div class="whead clearfix text-center">
			<p>Auditoría</p>
		  </div>
		  <div class="row auditoria">
			<div class="col-6 border px-0">
			  <div class="col-12 border-bottom py-3">
				Creado por
			  </div>
			  <div class="col-12 border-bottom py-3">
				Creado el
			  </div>
			  <div class="col-12 border-bottom py-3">
				Modificado por
			  </div>
			  <div class="col-12 py-3">
				Última modificacion
			  </div>
			</div>
			<div class="col-6 border px-0">
			  <div class="col-12 border-bottom py-3">
				{{form.insert.name }}
			  </div>
			  <div class="col-12 border-bottom py-3">
				{{form.created_at }}
			  </div>
			  <div class="col-12 border-bottom py-3 h-25">
				<span *ngIf="form.edit" >{{form.edit.name }}</span>
			  </div>
			  <div class="col-12 py-3 h-25">
				<span *ngIf="form.edit" >{{form.updated_at}}</span>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
