<div *ngIf="encuesta_id;else other_content">
	<app-header nombre="PROGRAMACIÓN DE ENCUESTAS" icono="edit"></app-header>
</div>

<ng-template #other_content>
	<app-header nombre="MANTENIMIENTO DE DOCTORES" icono="user-md"></app-header>
</ng-template>

<div class="widget clearfix mt-5">
	<div class="whead clearfix">
		<p><span *ngIf="id;else templateName">EDITAR </span>DOCTORES <span *ngIf="id">: {{ form.nombres }}
				{{ form.apellido_paterno }} {{ form.apellido_materno }}</span></p>
		<ng-template #templateName>
			CREAR
		</ng-template>
	</div>
	<div class="row data-crud">
		<div class="col-12">
			<form (ngSubmit)="guardar()" class="px-4" [formGroup]="formDoctor" novalidate="" ngNativeValidate>
				<div class="row">
					<div class="col-6">
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Tipo Documento <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<select name="tipodoc" id="" class="form-control" [(ngModel)]="form.tipo_documento" required>
									<option [ngValue]="null" [disabled]="true" >Elige una opción</option>
									<option value="1">DNI</option>
									<option value="2">RUC</option>
								</select>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Nro Documento <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="nrodoc" class="form-control" formControlName="nrodoc" [ngClass]="{'is-invalid': !formDoctor.get('nrodoc').valid}" [(ngModel)]="form.nro_documento"
									required/>
								<div *ngIf="formDoctor.controls['nrodoc'].errors?.required" class="invalid-feedback">
									El documento es necesario
								</div>
								<div *ngIf="formDoctor.controls['nrodoc'].errors?.minlength" class="invalid-feedback">
									Por lo menos 8 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nrodoc'].errors?.maxlength" class="invalid-feedback">
									Por lo máximo 11 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nrodoc'].errors?.pattern" class="invalid-feedback">
									Escribir solo números
								</div>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Nombres <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="nombres" class="form-control" formControlName="nombres" [ngClass]="{'is-invalid': !formDoctor.get('nombres').valid}" [(ngModel)]="form.nombres" required>
								<div *ngIf="formDoctor.controls['nombres'].errors?.required" class="invalid-feedback">
									El nombre es necesario
								</div>
								<div *ngIf="formDoctor.controls['nombres'].errors?.minlength" class="invalid-feedback">
									Por lo menos 3 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nombres'].errors?.pattern" class="invalid-feedback">
									Escribir solo letras
								</div>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Apellido Paterno <span
									class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="apepaterno" class="form-control" formControlName="apepaterno" [ngClass]="{'is-invalid': !formDoctor.get('apepaterno').valid}" [(ngModel)]="form.apellido_paterno"
									required>
								<div *ngIf="formDoctor.controls['apepaterno'].errors?.required" class="invalid-feedback">
									El apellido es necesario
								</div>
								<div *ngIf="formDoctor.controls['apepaterno'].errors?.minlength" class="invalid-feedback">
									Por lo menos 3 caracteres
								</div>
								<div *ngIf="formDoctor.controls['apepaterno'].errors?.pattern" class="invalid-feedback">
									Escribir solo letras
								</div>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Apellido Materno <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="apematerno" class="form-control" formControlName="apematerno" [ngClass]="{'is-invalid': !formDoctor.get('apepaterno').valid}" [(ngModel)]="form.apellido_materno" required>
								<div *ngIf="formDoctor.controls['apematerno'].errors?.required" class="invalid-feedback">
									El apellido es necesario
								</div>
								<div *ngIf="formDoctor.controls['apematerno'].errors?.minlength" class="invalid-feedback">
									Por lo menos 3 caracteres
								</div>
								<div *ngIf="formDoctor.controls['apematerno'].errors?.pattern" class="invalid-feedback">
									Escribir solo letras
								</div>
							</div>
							<hr>
						</div>

						<div class="form-group row my-3" *ngIf="encuesta_id==null">
							<label class="col-sm-4 col-form-label w-100">Firma</label>
							<div class="col-sm-8">
								<input type="text" name="firma" class="form-control" [(ngModel)]="form.firma">
							</div>
							<hr>
						</div>

						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Especialidad <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<mat-form-field class="example-full-width w-100">
									<input type="text" [(ngModel)]="form.especialidad_id" matInput name="especialidad_id" class="form-control"
										   [formControl]="myControl1" [matAutocomplete]="auto" required (keyup)="limpiarAutocomplete($event)">
									<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn1" (optionSelected)="cargarEspecialidad($event)">
										<mat-option *ngFor="let option of filteredEspecialidad | async" [value]="option">
											{{option.nombre}}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
							</div>
							<hr>
						</div>

						<div class="form-group row my-3" *ngIf="encuesta_id==null">
							<label class="col-sm-4 col-form-label w-100">Nro de Colegiatura </label>
							<div class="col-sm-8">
								<input type="text" name="nrocol" class="form-control" formControlName="nrocol" [ngClass]="{'is-invalid': !formDoctor.get('nrocol').valid}" [(ngModel)]="form.nro_colegiatura">
								<div *ngIf="formDoctor.controls['nrocol'].errors?.minlength" class="invalid-feedback">
									Por lo menos 5 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nrocol'].errors?.maxlength" class="invalid-feedback">
									Por lo máximo 5 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nrocol'].errors?.pattern" class="invalid-feedback">
									Escribir solo números
								</div>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Fecha de Nacimiento <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="date" name="fechanac" class="form-control" [(ngModel)]="form.fecha_nacimiento" onchange="ageCalculator()" required>
								<button type="button" (click)="ageCalculator()"> Calcular </button>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Edad <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="edad" class="form-control" [(ngModel)]="form.edad" required>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Sexo </label>
							<div class="col-sm-8">
								<select name="sexo" id="" class="form-control" [(ngModel)]="form.sexo">
									<option [ngValue]="null" [disabled]="true" >Elige una opción</option>
									<option value="1">FEMENINO</option>
									<option value="2">MASCULINO</option>
								</select>
							</div>
							<hr>
						</div>

						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Nro de Celular <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="text" name="nrocel" class="form-control" formControlName="nrocel" [ngClass]="{'is-invalid': !formDoctor.get('nrocel').valid}" [(ngModel)]="form.nro_celular" required>
								<div *ngIf="formDoctor.controls['nrocel'].errors?.required" class="invalid-feedback">
									El número de ceular es necesario
								</div>
								<div *ngIf="formDoctor.controls['nrocel'].errors?.minlength" class="invalid-feedback">
									Por lo menos 9 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nrocel'].errors?.maxlength" class="invalid-feedback">
									Por lo máximo 9 caracteres
								</div>
								<div *ngIf="formDoctor.controls['nrocel'].errors?.pattern" class="invalid-feedback">
									Escribir solo números
								</div>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3" *ngIf="encuesta_id==null">
							<label class="col-sm-4 col-form-label w-100">Correo Personal <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<input type="email" name="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': !formDoctor.get('email').valid}" [(ngModel)]="form.email" required>
								<div *ngIf="formDoctor.controls['email'].errors?.required" class="invalid-feedback">
									El correo es necesario
								</div>
								<div *ngIf="formDoctor.controls['email'].errors?.pattern" class="invalid-feedback">
									Formato de correo no válido
								</div>
							</div>
							<hr>
						</div>
					</div>

					<div class="col-6">		
						<div class="form-group row my-3" *ngIf="encuesta_id==null">
							<label class="col-sm-4 col-form-label w-100">Dirección </label>
							<div class="col-sm-8">
								<input type="text" name="direccion" class="form-control" formControlName="direccion" [ngClass]="{'is-invalid': !formDoctor.get('direccion').valid}" [(ngModel)]="form.direccion">
								<div *ngIf="formDoctor.controls['direccion'].errors?.maxlength" class="invalid-feedback">
									Por lo máximo 250 caracteres
								</div>
							</div>
							<hr>
						</div>

						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Ubigeo <span
								class="text-danger">*</span></label>
							<div class="col-sm-8">
								<mat-form-field class="example-full-width w-100">
									<input type="text" [(ngModel)]="form.ubigeo_id" matInput name="ubigeo_id" class="form-control"
										   [formControl]="myControl" [matAutocomplete]="auto" required (keyup)="limpiarAutocomplete($event)">
									<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="cargarUbigeo($event)">
										<mat-option *ngFor="let option of filteredUbigeo | async" [value]="option">
											{{option.departamento}} {{option.provincia}} {{option.distrito}}
										</mat-option>
									</mat-autocomplete>
								</mat-form-field>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3" *ngIf="encuesta_id==null">
							<label class="col-sm-4 col-form-label w-100">Referencias</label>
							<div class="col-sm-8">
								<input type="text" name="refer" class="form-control" formControlName="refer" [ngClass]="{'is-invalid': !formDoctor.get('refer').valid}" [(ngModel)]="form.referencias">
								<div *ngIf="formDoctor.controls['refer'].errors?.maxlength" class="invalid-feedback">
									Por lo máximo 250 caracteres
								</div>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3">
							<label class="col-sm-4 col-form-label w-100">Tipo de Doctor <span class="text-danger">*</span></label>
							<div class="col-sm-8">
								<select name="tipodoc" id="" class="form-control" [(ngModel)]="form.tipo_doctor" required>
									<option [ngValue]="null" [disabled]="true" >Elige una opción</option>
									<option value="1">NUEVO</option>
									<option value="2">ANTIGUO</option>
								</select>
							</div>
							<hr>
						</div>
		
						<div class="form-group row my-3" *ngIf="encuesta_id==null">
							<label class="col-sm-4 col-form-label w-100">Observaciones</label>
							<div class="col-sm-8">
								<textarea type="text" name="obs" class="form-control" formControlName="obs" [ngClass]="{'is-invalid': !formDoctor.get('obs').valid}" [(ngModel)]="form.observaciones"></textarea>
								<div *ngIf="formDoctor.controls['obs'].errors?.maxlength" class="invalid-feedback">
									Por lo máximo 250 caracteres
								</div>
							</div>
							<hr>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-12">
						<button type="submit" class="btn btn-success">GUARDAR</button>
						<a (click)="return()" class="btn btn-info text-white">REGRESAR A LA LISTA</a>
					</div>
				</div>
			</form>
		</div>
		<div class="col-5 p-0 widget clearfix" *ngIf="id">
			<app-auditoria [form]="form"></app-auditoria>
		</div>
	</div>
</div>