.parent {
	padding: 0 0.5em 0 0.5em !important;
}

.parent a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 0.5em 0 0.5em !important;
}

.parent div {
	display: flex;
	justify-content: center;
}

.parent a span {
	padding-left: 1em;
}

.list-item-active {
	font-weight: bold;
	color: blue !important;
	background: #dfdfdf !important;
}

.logo_upc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2em;
	padding-top: 1em;
}

.logo_upc span {
	padding-top: 0.3em;
	font-weight: bold;
	font-size: 14px;
}

.mat-nav-list a {
	display: flex;
	justify-content: center;
	align-items: center;
}
