
<mat-nav-list *ngIf="showMenu" class="w-100 p-0">
	<a class="parent" mat-list-item routerLinkActive="active" routerLink="personas">
		<fa-icon [icon]="['fas', 'user-friends']"></fa-icon><br><br>
		<span class="full-width" *ngIf="isExpanded">Personas</span>
	</a>
	<a class="parent" mat-list-item routerLinkActive="active" routerLink="empresas">
		<fa-icon [icon]="['fas', 'city']"></fa-icon>
		<span class="full-width" *ngIf="isExpanded">Empresas</span>
	</a>
	<a class="parent" mat-list-item routerLinkActive="active" routerLink="encuestas">
		<fa-icon [icon]="['fas', 'poll']"></fa-icon>
		<span class="full-width" *ngIf="isExpanded">Programar Encuestas</span>
	</a>
</mat-nav-list>

