.parent {
	padding: 0 0.5em 0 0.5em !important;
}

.parent a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0 0.5em 0 0.5em !important;
}

parent div:hover {
	background: #FFFFFF;
	transition: 4s;
}

.mat-drawer-inner-container{
	background: #c9d9e8;
}

.parent div {
	display: flex;
	justify-content: center;
}

.parent a span {
	padding-left: 1em;
}

.mat-nav-list .mat-list-item {
	background: #fff14a;
}

.list-item-active {
	font-weight: bold;
	color: white !important;
	background: #ffc107 !important;
	-webkit-transition:  4s ease out;
	-moz-transition:  4s ease out;
	-ms-transition:  4s ease out;
	-o-transition:  4s ease out;
	transition:  4s ease out;
}

.logo_upc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2em;
	padding-top: 1em;
}


.logo_upc span {
	padding-top: 0.3em;
	font-weight: bold;
	font-size: 14px;
}

.mat-nav-list a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.expanded {
	justify-content: flex-start !important;
	-webkit-transition:  4s ease out;
	-moz-transition:  4s ease out;
	-ms-transition:  4s ease out;
	-o-transition:  4s ease out;
	transition:  4s ease out;
}



.spacer {
	flex: 1 1 auto;
  }
  
  .container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }
  
  mat-sidenav {
	width: 250px;;
  }
  
  .circle {
	border-radius: 50%;
  }
  
  .with-bg {

	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	max-height: 130px;
  }
  
  .no-shadow {
	box-shadow: none !important;
  }
  
  ::ng-deep .mat-expansion-panel-body {
	padding: 0px !important;
	padding-left: 10px !important;
  }
  
  .header-box-shadow {
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  
  .bottom-to-top {
	border: 0px;
	border-right: 1px;
	border-style: solid;
	border-image:
	linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
  }